html {
    background-color: #000000;
}

html ::selection {
    background-color: #008000;
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    height: 140px;
    font-family: 'Leckerli One', cursive;
    font-size: 70px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    transition: 150ms ease-in-out;
}

header:hover {
    background-color: rgba(0, 0, 0, 0.65)
}

#title {
    color: white;
    user-select: none;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

#title:hover {
    font-size: 72px;
}

#title:active {
    color:#008000;
    font-size: 73px;
    transition: 100ms ease-in-out;
}

nav {
    font-family: "Calibri", "OpenSans";
    height: 32px;
    font-size: 16px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    user-select: none;
}

.menu {
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 10px;
    transition: 80ms ease-in-out;
    border-radius: 1px;
    color: rgba(255, 255, 255, 0.8);
    vertical-align: middle;
    transition: 100ms ease-in-out;
}

.menu:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.menu:active {
    background-color: #008000;
}

body {
    background-image: url("imgs/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

main {
    margin-right: 10%;
    margin-left: 10%;
}

a {
    text-decoration: none;
    position: relative;
 }

section a:link {
    color: #a8e2ff;
}

section a:visited {
    color: #47acfe;
}

section a:hover {
    text-decoration: underline;
}

section a:active {
    top: 2px;
}

section {
    margin-top: 50px;
    display: block;
    font-family: "Calibri", "OpenSans";
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    border: solid rgba(211, 211, 211, 0.48) 1px;
    border-radius: 25px;
    padding: 5%;
    transition: 100ms ease-in-out;
    width: 100%;
    box-sizing: border-box;
}

section:hover {
    border-color: #008000;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);
}

section h2 {
    margin-top: 0px;
}

.imgcont {
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
    position: relative;
}

.imgcont img[src*="jpg"] {
    align-content: stretch;
    border-radius: 5%;
    width: 100%;
}

#arrowcont {
    position: relative;
}

img[src*="arrow"] {
    position: absolute;
    top: 40%;
    transition: 50ms ease-in-out;
    cursor: pointer;
    opacity: 0.5;
}

img[src*="arrow"]:hover {
    opacity: 1;
}

img[src*="arrow"]:active {
    top: 41%;
}

img[src*="arrow2"] {
    right: 0px;
}

section p {
    margin: 0px;
    font-size: 20px;
    margin-bottom: 20px;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.pcont {
    display: inline-block;
    width: 54%;
    margin-right: 5%;
    box-sizing: border-box;
    vertical-align: top;
}

.pcont img {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

img[src*="to top"] {
    width: 50px;
    position: sticky;
    bottom: 25px;
    left: 95%;
    opacity: 0.75;
    transition: 50ms ease-in-out;
}

img[src*="to top"]:hover {
    opacity: 1;
}

time {
    font-size: 15px;
    margin-top: 30px;
    color: lightgray;
    cursor: default;
}

iframe {
    width: 500px;
    height: 281px;
    border: 0px;
    margin-top: 60px;
}

footer {
    background-image: linear-gradient(to bottom, rgba(0, 204, 70, 0), rgba(0, 0, 0, 0.71));
    height: 50px;
    color: white;
    font-family: "Calibri", "OpenSans";
    margin-top: 25px;
    padding: 12px;
}

footer > p {
    display: inline-block;
    font-size: 16px;
    margin: 0;
}