html {
    background-color: #000000;
}

html ::selection {
    background-color: #008000;
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    height: 140px;
    font-family: 'Leckerli One', cursive;
    font-size: 70px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    transition: 150ms ease-in-out;
}

header:hover {
    background-color: rgba(0, 0, 0, 0.65)
}

#title {
    color: white;
    user-select: none;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

#title:hover {
    font-size: 72px;
}

#title:active {
    color:#008000;
    font-size: 73px;
    transition: 100ms ease-in-out;
}

#menucont {
    font-family: "Calibri", "OpenSans";
    height: 32px;
    font-size: 16px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    user-select: none;
}

.menu {
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 10px;
    transition: 80ms ease-in-out;
    border-radius: 1px;
    color: rgba(255, 255, 255, 0.8);
    vertical-align: middle;
    transition: 100ms ease-in-out;
}

.menu:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.menu:active {
    background-color: #008000;
}

body {
    background-image: url("imgs/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

main {
    margin-right: 10%;
    margin-left: 10%;
}

a {
    text-decoration: none;
 }

section {
    margin-top: 50px;
    display: block;
    font-family: "Calibri", "OpenSans";
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: solid rgba(211, 211, 211, 0.48) 1px;
    border-radius: 25px;
    padding: 5%;
    transition: 100ms ease-in-out;
    width: 100%;
    box-sizing: border-box;
}

section:hover {
    border-color: #008000;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.65);
}

section h2 {
    margin-top: 0px;
}

section img {
    display: inline-block;
    width: 40%;
    border-radius: 5%;
    box-sizing: border-box;
    align-content: stretch;
}

section p {
    margin: 0px;
    font-size: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

section:nth-of-type(odd) {

}

section:nth-of-type(even) {
    margin-left: 40%;
}

section:nth-of-type(1) {
    top: 0;
}

.pcont {
    display: inline-block;
    width: 54%;
    margin-right: 5%;
    box-sizing: border-box;
    vertical-align: top;
}

img[src*="to top"] {
    width: 50px;
    position: sticky;
    bottom: 25px;
    left: 95%;
    opacity: 0.5;
    transition: 200ms ease-in-out;
}

img[src*="to top"]:hover {
    opacity: 0.8;
}

time {
    font-size: 15px;
    margin-top: 30px;
    color: lightgray;
    cursor: default;
}

footer {
    background-image: linear-gradient(to bottom, rgba(0, 204, 70, 0), rgba(0, 0, 0, 0.71));
    position: relative;
    height: 50px;
    bottom: 0px;
    color: white;
    font-family: "Calibri", "OpenSans";
    clear: both;
    margin-top: 25px;
    padding: 12px;
}

footer > p {
    display: inline-block;
    position: relative;
    font-size: 16px;
    margin: 0;
}

footer img {
    height: 50px;
    float: right;
}

